@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #ddd;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 100px;
}

.filter-posts {
    width: 80vw;
    max-width: 800px;
}

.filter-field {
    width: 100%;
    padding: 0.5rem;
}

.post {
    position: relative;
    background-color: #f7f7f7;
    width: 80vw;
    max-width: 800px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0,0,0,0.3);
    display: flex;
    padding: 15px
}

.post .post-title {
    margin: 0;
}

.post .post-details {
    margin: 15px 0 0;
    line-height: 1.2;
}

.post .post-details {
    margin-left: 15px;
}

.post .post-number {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
}

.loader.show {
    opacity: 1;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 5%;
    border-radius: 50%;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2) {
    animation-delay: 0.1s;
}

.circle:nth-of-type(3) {
    animation-delay: 0.3s;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-10px);
    }
}